{{#each media }}
<div class="mdc-card" id="{{name}}">
    <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large"></h1>
        <h2 class="mdc-card__subtitle">{{name}}</h2>
    </section>
    <section class="mdc-card__media" style="background-image: url({{photo}});"></section>
</div>
{{/each}}
<div class="mdc-form-field">
    <input type="file" id="photo-file">
    <label for="photo">Photo</label>
</div>
<div class="mdc-form-field">
    <input type="text" id="photo-name">
    <label for="name">Name</label>
</div>
<button class="mdc-button" id="add-photo-btn">
    Submit
</button>

<script type="module" src="./dist/app/media.bundle.js"></script>