<style>
    #castle .mdc-card__media {
        background-image: url("/images/castle.jpg");
    }

    #coventry .mdc-card__media {
        background-image: url("/images/coventry_group.jpg");
    }

    #rugby .mdc-card__media {
        background-image: url("/images/rugby_group.jpg");
        transform: rotate(-90deg);
    }

    #creamed .mdc-card__media {
        background-image: url("/images/creamed.png");
    }
</style>
<div class="mdc-card" id="castle">
    <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large"></h1>
        <h2 class="mdc-card__subtitle">Kenilworth</h2>
    </section>
    <section class="mdc-card__media"></section>
</div>
<div class="mdc-card" id="coventry">
    <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large"></h1>
        <h2 class="mdc-card__subtitle">Coventry</h2>
    </section>
    <section class="mdc-card__media"></section>
</div>
<div class="mdc-card" id="creamed">
    <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large"></h1>
        <h2 class="mdc-card__subtitle">Creamed</h2>
    </section>
    <section class="mdc-card__media"></section>
</div>
<div class="mdc-card" id="rugby">
    <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large"></h1>
        <h2 class="mdc-card__subtitle">Rugby</h2>
    </section>
    <section class="mdc-card__media"></section>
</div>